{"openapi":"3.0.0","info":{"version":"1.0.0","title":"API TramitApp","x-logo":{"url":"https://www.tramitapp.com/wp-content/uploads/2017/07/flat-icon-web-alt.png","backgroundColor":"#fafafa","altText":"API TramitApp"},"description":"# Introducción\nAquí se describen los recursos que conforman el API de TramitApp. Mediante él, podrás acceder a la información\nque gestiona TramitApp de manera automática, permitiendo coordinar tus sistemas informáticos existentes con nuestra plataforma.\n\nMediante nuestro API, podrás consultar la información relativa a los trámites de tus empleados, como por ejemplo,\nlas ausencias que han tenido, sean por vacaciones, permisos, bajas médicas, o simplemente porque trabajaron desde casa.\n\nTambién podrás acceder la información relativa a los gastos, dietas y kilometrajes que te hayan pasado, así como las imputaciones de horas normales y extras\nque hayan realizado desde TramitApp para poder integrarlo directamente en tus sistemas contables de forma sencilla y evitar procesos manuales\n\nTe proporcionamos además una información detallada de la situación laboral de tus empleados, los tipos de contratos,\nlos saldos de vacaciones, y mucho más.\n\nSi lo deseas, también podrás automatizar las altas y bajas de empleados en nuestro sistema directamente desde nuestro\nAPI, evitando así duplicidades y mejorando tu eficiencia en los procesos de incorporación y salida de la compañía.\n\n# Comenzando a utilizar el API de TramitApp\nPensamos que la mejor forma de aprender a utilizar un API es experimentando un poco, por lo que vamos a darte\nunos ejemplos que te permitan conocer cómo funcionamos y te ayuden a acelerar al máximo tus desarrollos.\n\n## Hola TramitApp!\nLa mejor forma de empezar a familiarizarte con nuestro API es mediante una herramienta sencilla como\n[curl](https://github.com/curl/curl). Por supuesto, puedes otras herramientas como [PostMan](https://www.getpostman.com/)\no directamente utilizar tu lenguaje de programación favorito.\n\nVeamos un ejemplo que nos proporciona la lista de compañías a la que tu usuario tiene acceso:\n\n```curl -H 'auth: YOUR_AUTH_KEY' https://rrhh.tramitapp.com/tramitapi/companies```\n\nLa respuesta será un listado en formato JSON de las empresas parecido a este.\n```\n  [{\n    \"_id\": \"69bdb59e00aa129e8766ec0e\",\n    \"name\": \"Tu empresa\",\n    \"nationalId\": \"B16159433\",\n    \"workplaces\": [{\n      \"_id\": \"592ff42760804fd378e982ca\", \"name\": \"Oficina Central\"\n    }]\n  }]\n\n```\n\n ## Mis empleados\n Para consultar un listado de tus empleados, y en general para todas las operaciones\n excepto para el listado de compañías, nos tendrás que indicar qué empresa quieres consultar.\n\n ```curl -H 'auth: YOUR_AUTH_KEY' https://rrhh.tramitapp.com/tramitapi/{company._id}/employees```\n\nLa respuesta será un listado de los empleados de la empresa, similar al siguiente:\n```\n[{ _id: '5b7fcf3ef9ad0b3f65c4b91f',\n     companies_id: '57bdb59e00aa129e8766ec0e',\n     nationalId: '00000001R',\n     ssn: '281234567840',\n     lastName: 'Arranz',\n     lastName2: 'Perez',\n     firstName: 'Paco',\n     birthday: '1982-04-01',\n     gender: 'man',\n     nationality: 'Spanish',\n     education: null,\n     contract_type: 'temporal_contract',\n     contract_date: '2016-11-19',\n     contract_end_date: null,\n     trial_period: '12',\n     category: 'ppopo',\n     gross_salary: 18000.0,\n     email: 'test0.9794606036734297@domain.com',\n     province: '28',\n     city: 'madrid',\n     address: 'c/ bracamonte',\n     zip_code: '28051',\n     iban: 'ES6398966338433871330966' }]\n\n```\n## Nuevo empleado\n\nPara 'contratar' un empleado en TramitApp bastará con que nos hagas un POST con los datos correspondientes.\nDe nuevo, es necesario especificar el id de la empresa a la que pertenecerá el empleado.\n\n```curl -d \"@employee_example.json\" -H 'auth: YOUR_AUTH_KEY' -X POST https://rrhh.tramitapp.com/tramitapi/{company._id}/employees```\n\nLa respuesta será el empleado ya creado, similar a esta:\n```\n            {_id: '5b7fcf3ef9ad0b3f65c4b91f',\n             companies_id: '57bdb59e00aa129e8766ec0e',\n             nationalId: '00000001R',\n             ssn: '281234567840',\n             lastName: 'Arranz',\n             lastName2: 'Perez',\n             firstName: 'Paco',\n             birthday: '1982-04-01',\n             gender: 'man',\n             nationality: 'Spanish',\n             contract_type: 'temporal_contract',\n             contract_date: '2016-11-19',\n             contract_end_date: null,\n             email: 'test0.9794606036734297@domain.com',\n             iban: 'ES6398966338433871330966' }\n ```\n\n\n\n# Qué necesito para empezar a usar el API?\nComo has podido ver en los ejemplos anteriores, para poder acceder al API de TramitApp\n debes contar con una clave de API. Para solicitarla, contacta con nuestro equipo de soporte a través del chat de la aplicación o escribiendo a soporte@tramitapp.com.\nEsta clave lleva asociada tu configuración de seguridad y por tanto deberá viajar en las cabeceras HTTP de todas las peticiones:\n\n```\n> GET /tramitapi/companies HTTP/1.1\n> Host:  rrhh.tramitapp.com\n> Accept: */*\n> auth: YOUR_AUTH_KEY\n```\n","contact":{"name":"Equipo TramitApp","email":"devs@tramitapp.com","url":"https://www.tramitapp.com"}},"servers":[{"url":"https://rrhh.tramitapp.com/tramitapi"}],"components":{"schemas":{"event":{"type":"object","properties":{"_id":{"type":"string","description":"identificador único del evento."},"type":{"type":"string","description":"tipo de evento. Los tipos posibles cambian en función de si son de empleados, gastos, horas, etc."},"payload":{"type":"object","description":"el cuerpo del evento. Será un empleado, un gasto, un registro de horas,una ausencia, etc.","enum":["employee"]},"companies_id":{"type":"string","description":"id de la compañía del evento."},"create_date":{"type":"string","format":"datetime","description":"sello de tiempo del evento en formato ISODate."},"entity":{"type":"string","description":"tipo de notificación.","enum":["employees","absences","expenses","hours"]}}},"employee_event":{"allOf":[{"$ref":"#/components/schemas/event"},{"type":"object"}],"properties":{"type":{"type":"string","description":"tipo de evento.","enum":["new_employee","update_employee","fire_employee","renew_employee"]}}},"absences_event":{"allOf":[{"$ref":"#/components/schemas/event"},{"type":"object"}],"properties":{"type":{"type":"string","description":"tipo de evento.","enum":["add_absence","update_absence","remove_absence"]}}},"hours_event":{"allOf":[{"$ref":"#/components/schemas/event"},{"type":"object"}],"properties":{"type":{"type":"string","description":"tipo de evento.","enum":["add_hours","update_hours","remove_hours"]}}},"expenses_event":{"allOf":[{"$ref":"#/components/schemas/event"},{"type":"object"}],"properties":{"type":{"type":"string","description":"tipo de evento.","enum":["add_expense","update_expense","remove_expense"]}}},"company":{"type":"object","properties":{"_id":{"type":"string","description":"identificador único de la sociedad"},"correlation_id":{"type":"string","description":"identificador de correlación. Un id interno del usuario del API que posteriormente devolveremos."},"name":{"type":"string","description":"nombre de la sociedad"},"nationalId":{"type":"string","description":"CIF de la sociedad"},"workplaces":{"type":"array","description":"Centros de trabajo","items":{"type":"object","properties":{"_id":{"type":"string","description":"identificador único del centro de trabajo"},"name":{"type":"string","description":"nombre del centro de trabajo"},"correlation_id":{"type":"string","description":"identificador de correlación. Un id interno del usuario del API que devolvemos."},"address":{"type":"object","properties":{"street":{"type":"string","description":"dirección del centro de trabajo"},"city":{"type":"string","description":"Localidad del centro de trabajo"},"province":{"type":"string","description":"Provincia del centro de trabajo"},"zip":{"type":"string","description":"código postal del centro de trabajo"},"country":{"type":"string","description":"código postal del centro de trabajo"}}}}}},"teams":{"type":"array","description":"Equipos","items":{"type":"object","properties":{"_id":{"type":"string","description":"identificador único del equipo"},"name":{"type":"string","description":"nombre del equipo"},"is_collective":{"type":"boolean","description":"si el equipo es un colectivo en el sentido TramiApp."},"leaders":{"type":"array","description":"lista de los jefes de equipo","items":{"type":"string","description":"Ids de los jefes de equipo"}},"members":{"type":"array","description":"lista de los miembros del equipo","items":{"type":"string","description":"Ids de los miembros del equipo"}},"correlation_id":{"type":"string","description":"identificador de correlación. Un id interno del usuario del API que posteriormente devolveremos."}}}},"projects":{"type":"array","description":"Proyectos o cuentas de imputación","items":{"type":"object","properties":{"code":{"type":"string","description":"código de proyecto, definido por el usuario"},"description":{"type":"string","description":"texto largo del proyecto o cuenta, a mostrar a los empleados"},"correlation_id":{"type":"string","description":"identificador de correlación. Un id interno del usuario del API que posteriormente devolveremos."}}}},"calendars":{"type":"array","description":"Nombres de los calendarios disponibles","items":{"type":"object","properties":{"calendar_name":{"type":"string","description":"Nombre del calendario"},"correlation_id":{"type":"string","description":"identificador de correlación. Un id interno del usuario del API que posteriormente devolveremos."}}}},"locations":{"type":"array","description":"Localizaciones","items":{"type":"object","properties":{"_id":{"type":"string","description":"Identificador único de localización"},"name":{"type":"string","description":"Nombre definido para la localización"}}}}}},"new_workplace":{"type":"object","properties":{"correlation_id":{"type":"string","description":"identificador de correlación. Un id interno del usuario del API que posteriormente devolveremos."},"name":{"type":"string","description":"nombre del centro de trabajo"},"address":{"type":"object","properties":{"street":{"type":"string","description":"Dirección del centro de trabajo"},"city":{"type":"string","description":"Localidad del centro de trabajo"},"province":{"type":"string","description":"Provincia del centro de trabajo"},"zip":{"type":"string","description":"Código postal del centro de trabajo"},"country":{"type":"string","description":"País del centro de trabajo"}}}},"required":["name"]},"update_workplace":{"allOf":[{"$ref":"#/components/schemas/new_workplace"},{"type":"object"}],"properties":{"_id":{"type":"string","description":"Identificador del centro de trabajo"}},"required":["_id"]},"new_team":{"type":"object","properties":{"correlation_id":{"type":"string","description":"identificador de correlación. Un id interno del usuario del API que posteriormente devolveremos."},"name":{"type":"string","description":"nombre del equipo"},"is_collective":{"type":"boolean","description":"flag que indica que el equipo es un colectivo. Los colectivos son grupos de personas en los cuales no hay aprobaciones pero sí que comparten por ejemplo documentos específicos."},"exclude_involved":{"type":"boolean","description":"Si es true, los miembros del equipo NO comparten calendario entre ellos. Por defecto es false (comparten calendario)."},"disabled_involved_notifications":{"type":"boolean","description":"Si es true, los miembros del equipo NO reciben notificaciones de las vacaciones de sus compañeros. Por defecto es false (reciben notificaciones)."}},"required":["name"]},"update_team":{"allOf":[{"$ref":"#/components/schemas/new_team"},{"type":"object"}],"properties":{"_id":{"type":"string","description":"Identificador del equipo"}},"required":["_id"]},"new_project":{"type":"object","properties":{"accountProject":{"type":"string","description":"código del proyecto"},"description":{"type":"string","description":"descripción del proyecto"},"locations":{"type":"array","description":"listado de ids de las localizaciones asociadas a este proyecto"},"teams":{"type":"array","description":"listado de ids de los equipos asociados a este proyecto"}},"required":["accountProject","description"]},"update_project":{"allOf":[{"$ref":"#/components/schemas/new_project"},{"type":"object"}],"properties":{"_id":{"type":"string","description":"Identificador del proyecto"}},"required":["_id"]},"new_location":{"type":"object","properties":{"name":{"type":"string","description":"nombre de la localización"},"address":{"type":"string","description":"dirección de la localización. El formato debe ser <calle, código postal, localidad, provincia>"},"radius":{"type":"string","description":"radio alrededor de la localización en la que el fichaje será automático, mínimo 50 metros"},"ip_address":{"type":"string","description":"cadena de texto con el listado de IPs públicas separadas por comas desde las cuales es posible realizar el fichaje web"}},"required":["name","address"]},"update_location":{"allOf":[{"$ref":"#/components/schemas/new_location"},{"type":"object"}],"properties":{"_id":{"type":"string","description":"Identificador de la localización"}},"required":["_id"]},"employee":{"type":"object","properties":{"_id":{"type":"string","description":"identificador único del empleado"},"correlation_id":{"type":"string","description":"identificador de correlación. Un id interno del usuario del API que posteriormente devolveremos.."},"companies_id":{"type":"string","description":"identificador de la sociedad para la que trabaja"},"workplace_id":{"type":"string","description":"identificador del centro de trabajo"},"nationalId":{"type":"string","description":"Documento de identidad del empleado"},"ssn":{"type":"string","description":"Número de afiliación a la seguridad social"},"firstName":{"type":"string","description":"Nombre propio del empleado"},"lastName":{"type":"string","description":"Primer apellido del empleado"},"lastName2":{"type":"string","description":"Segundo apellido del empleado"},"birthday":{"type":"string","description":"fecha de nacimiento","format":"date"},"start_day_in_company":{"type":"string","description":"En caso de subrogaciones, representa fecha de incorporación","format":"date"},"gender":{"type":"string","description":"Género","enum":["man","woman","none"]},"nationality":{"type":"string","description":"Nacionalidad"},"education":{"type":"string","description":"Nivel de estudios"},"civil_status":{"type":"string","description":"Estado civil","enum":["married","single","widower","divorcee","separate"]},"contract_code":{"type":"string","description":"Código del contratos SEPE","enum":["100","200"]},"contract_date":{"type":"string","description":"Fecha de contratación","format":"date"},"trial_period":{"type":"string","description":"Periodo de prueba"},"category":{"type":"string","description":"Categoría profesional"},"gross_salary":{"type":"number","description":"Salario bruto anual"},"nationalId_expiration_date":{"type":"string","description":"Fecha de caducidad DNI/NIE","format":"date"},"disability":{"type":"boolean","description":"Presenta alguna discapacidad"},"degree_disability_detail":{"type":"number","description":"Grado de discapacidad"},"expiration_disability_date":{"type":"string","description":"Fecha de revisión del grado de discapacidad","format":"date"},"is_permanent_disability":{"type":"boolean","description":"Flag que indica que la discapacidad es permanente. En este caso no exisitrá el campo \"expiration_disability_date\""},"contribution_account":{"type":"string","description":"Cuenta cotización empresa"},"phone":{"type":"string","description":"phone"},"corporate_phone":{"type":"string","description":"corporate_phone"},"email":{"type":"string","description":"email"},"province":{"type":"string","description":"Provincia del domicilio. Corresponde a los digitos de los códigos postales,   por ejemplo, '28' para Madrid y '08' para Barcelona."},"city":{"type":"string","description":"Ciudad del domicilio"},"address":{"type":"string","description":"Dirección del domicilio"},"zip_code":{"type":"string","description":"Código postal del domicilio"},"iban":{"type":"string","description":"IBAN"},"direct_reports_to":{"type":"string","description":"Identificador del empleado al que reporta para pintar el organigrama. No se soporta que se informe a si mismo y tampoco las dependencias cíclicas."},"teams":{"type":"object","description":"Equipos de los que el empleado es miembro o lider. Si el campo no existe o viene a null, se respetará la información previa.","properties":{"teamleader_of":{"type":"array","description":"equipos de los que el empleado es lider. Si se informa array vacío, se borrará la información previa, si el campo no existe o viene a null, se respetará la información previa.","items":{"type":"string","description":"id de equipo"}},"member_of":{"type":"array","description":"equipos de los que el empleado es miembro. Si se informa array vacío, se borrará la información previa, si el campo no existe o viene a null, se respetará la información previa.","items":{"type":"string","description":"id de equipo"}}}},"user_exists":{"type":"boolean","description":"Indica si el empleado tiene usuario de acceso a TramitApp"}}},"update_employee":{"allOf":[{"$ref":"#/components/schemas/employee"},{"type":"object"}],"properties":{"create_user":{"type":"boolean","description":"Creará el usuario dando acceso al empleado a TramitApp. El empleado recibirá un email con las credenciales de acceso"},"reset_user":{"type":"boolean","description":"Flag para resetear las credenciales del empleado. Se enviará un nuevo email al empleado con las nuevas credenciales"},"delete_user":{"type":"boolean","description":"Flag para eliminar el usuario del empleado. El empleado dejará de tener acceso a TramitApp"},"hire_again":{"type":"boolean","description":"Flag para recontratar al empleado si éste estaba previamente despedido"},"calendar_name":{"type":"string","description":"Nombre del calendario de festivos del empleado. Deberá coincidir con el nombre de algún calendario dado de alta en la empresa"},"calendar_correlation_id":{"type":"string","description":"Identificador interno del calendario de festivos del empleado. Deberá coincidir con el correlation_id de algún calendario dado de alta en la empresa. En el caso de venir informados los campos calendar_name y calendar_correlation_id, solamante se tendrá en cuenta el campo calendar_correlation_id"},"start_clocking_from":{"type":"string","description":"Fecha que indica cuándo comenzará a fichar en TramitApp","format":"date"},"employment_periods":{"type":"array","description":"Periodos de contratación del empleado","items":{"$ref":"#/components/schemas/employement_periods"}},"workplace_history":{"type":"array","description":"Histórico de centros de trabajo del empleado. Tienen que venir todo el histórico de centros informados","items":{"$ref":"#/components/schemas/workplace_history"}},"sequences":{"type":"array","description":"Reducciones de jornada del empleado. Tienen que venir todas las reducciones informadas. Solamente puede existir una reducción de jornada sin fecha de fin.","items":{"$ref":"#/components/schemas/sequences"}}},"required":["_id","workplace_id","nationalId","email"]},"new_employee":{"type":"object","properties":{"correlation_id":{"type":"string","description":"identificador de correlación. Un id interno del usuario del API que posteriormente devolveremos."},"workplace_id":{"type":"string","description":"Identificador del centro de trabajo"},"nationalId":{"type":"string","description":"Documento de identidad del empleado"},"ssn":{"type":"string","description":"Numero de afiliación a la seguridad social"},"firstName":{"type":"string","description":"Nombre propio del empleado"},"lastName":{"type":"string","description":"Apellido del empleado"},"lastName2":{"type":"string","description":"Segundo apellido del empleado"},"birthday":{"type":"string","description":"Fecha de nacimiento"},"start_day_in_company":{"type":"string","description":"En caso de subrogaciones, representa fecha de incorporación","format":"date"},"gender":{"type":"string","description":"Género","enum":["man","woman","none"]},"nationality":{"type":"string","description":"Nacionalidad"},"civil_status":{"type":"string","description":"Estado civil","enum":["married","single","widower","divorcee","separate"]},"education":{"type":"string","description":"Nivel de estudios"},"contract_code":{"type":"string","description":"Código del tipo de contrato utilizado en la seguridad social. En el caso de empleado autónomo el código sería \"999\"","enum":["100","109","130","131","139","141","150","151","self_employed"]},"contract_date":{"type":"string","description":"Fecha de contratación","format":"date"},"contract_end_date":{"type":"string","description":"Fecha de fin de contratación","format":"date"},"gross_salary":{"type":"number","description":"Salario bruto anual"},"nationalId_expiration_date":{"type":"string","description":"Fecha de caducidad DNI/NIE","format":"date"},"disability":{"type":"boolean","description":"Presenta alguna discapacidad"},"degree_disability_detail":{"type":"number","description":"Grado de discapacidad"},"expiration_disability_date":{"type":"string","description":"Fecha de revisión del grado de discapacidad","format":"date"},"is_permanent_disability":{"type":"boolean","description":"Flag que indica que la discapacidad es permanente. En este caso no exisitrá el campo \"expiration_disability_date\""},"contribution_account":{"type":"string","description":"Cuenta cotización empresa"},"trial_period":{"type":"string","description":"Periodo de prueba"},"category":{"type":"string","description":"Categoría profesional"},"email":{"type":"string","description":"E-mail"},"province":{"type":"string","description":"Provincia del domicilio. Corresponde a los digitos de los códigos postales,  por ejemplo, '28' para Madrid y '08' para Barcelona."},"city":{"type":"string","description":"Ciudad del domicilio"},"address":{"type":"string","description":"Dirección del domicilio"},"zip_code":{"type":"string","description":"Código postal del domicilio"},"iban":{"type":"string","description":"IBAN"},"calendar_name":{"type":"string","description":"Nombre del calendario de festivos del empleado. Deberá coincidir con el nombre de algún calendario dado de alta en la empresa"},"calendar_correlation_id":{"type":"string","description":"Identificador interno del calendario de festivos del empleado. Deberá coincidir con el correlation_id de algún calendario dado de alta en la empresa. En el caso de venir informados los campos calendar_name y calendar_correlation_id, solamante se tendrá en cuenta el campo calendar_correlation_id"},"start_clocking_from":{"type":"string","description":"Fecha que indica cuándo comenzará a fichar en TramitApp","format":"date"},"create_user":{"type":"boolean","description":"Creará el usuario dando acceso al empleado a TramitApp. El empleado recibirá un email con las credenciales de acceso"},"direct_reports_to":{"type":"string","description":"Identificador del empleado al que reporta para pintar el organigrama. No se soporta que se informe a si mismo y tampoco las dependencias cíclicas."},"teams":{"type":"object","description":"Equipos de los que el empleado es miembro o lider","properties":{"teamleader_of":{"type":"array","description":"equipos de los que el empleado es lider","items":{"type":"string","description":"id de equipo"}},"member_of":{"type":"array","description":"equipos de los que el empleado es miembro","items":{"type":"string","description":"id de equipo"}}}},"employment_periods":{"type":"array","description":"Periodos de contratación del empleado","items":{"$ref":"#/components/schemas/employement_periods"}},"workplace_history":{"type":"array","description":"Histórico de centros de trabajo del empleado","items":{"$ref":"#/components/schemas/workplace_history"}}},"required":["workplace_id","nationalId","firstName","lastName","contract_code","contract_date","email"]},"fire_employee":{"type":"object","properties":{"_id":{"type":"string","description":"Identificador único del empleado"},"firing_type":{"type":"string","description":"Tipo de despido","enum":["disciplinary","objective","collective","voluntary_resignation","contract_end","trial_period_end","trial_period_resignation","excedence","subrogation","death_or_disability","erte","unfinished_hiring","retirement","it_exhaustion","downtime","other_resignation"]},"fire_date":{"type":"string","description":"Fecha efectiva de baja del empleado","format":"date"},"delete_user":{"type":"boolean","description":"Flag para indicar si debemos eliminar el usuario para ese empleado","default":false}},"required":["_id","firing_type","fire_date"]},"renew_employee":{"type":"object","properties":{"_id":{"type":"string","description":"Identificador único del empleado"},"renewal_type":{"type":"string","description":"Tipo de renovación. Puede ser prórroga  o transformación a indefinido.","enum":["to_regular_contract","contract_extension"]},"contract_code":{"type":"string","description":"Código del contrato SEPE","enum":["100","200","etc"]},"end_date":{"type":"string","description":"Fecha de fin de nuevo contrato. Obligatoria si es una prórroga (```contract_extension```)","format":"date"},"change_date":{"type":"string","description":"Fecha de entrada en vigor del cambio. Obligatoria si es una conversion a indefinido (```to_regular_contract```). Se ignora si no.","format":"date"}},"required":["_id","renewal_type","contract_code"]},"absence_request":{"type":"object","properties":{"employees_id":{"type":"string","description":"Identificador único del empleado"},"type":{"type":"string","description":"Tipo de ausencia.","enum":["absence","sickness","vacation"]},"subtype":{"type":"string","description":"subtipo de ausencia","enum":["wedding","birth","family_admission","family_death","family_surgery","family_accident","moving_from_home","test","public_duty","unpaid_leave","personal_matter","union","strike","shift_change","others","common_sickness","accident_outside_work","accident_at_work","professional_sickness","high_risk_pregnancy","maternity_leave","paternity_leave","miscarriage","menstruation","pregnancy"]},"start_date":{"type":"string","description":"Fecha de inicio de la ausencia","format":"date"},"end_date":{"type":"string","description":"Fecha de fin de la ausencia","format":"date"},"start_time":{"type":"string","description":"Hora de inicio de la ausencia"},"end_time":{"type":"string","description":"Hora de fin de la ausencia"},"correlation_id":{"type":"string","description":"identificador de correlación. Un id interno del usuario del API que posteriormente devolveremos."}}},"absence":{"type":"object","properties":{"_id":{"type":"string","description":"Identificador único de la ausencia"},"employees_id":{"type":"string","description":"Identificador único del empleado"},"type":{"type":"string","description":"Tipo de ausencia.","enum":["absence","sickness","vacation"]},"subtype":{"type":"string","description":"subtipo de ausencia","enum":["wedding","birth","family_admission","family_death","family_surgery","family_accident","moving_from_home","test","public_duty","unpaid_leave","personal_matter","union","strike","shift_change","others","common_sickness","accident_outside_work","accident_at_work","professional_sickness","high_risk_pregnancy","maternity_leave","paternity_leave"]},"status":{"type":"string","description":"estado de la ausencia","enum":["pending","done","canceled","rejected"]},"start_date":{"type":"string","description":"Fecha de inicio de la ausencia","format":"date"},"end_date":{"type":"string","description":"Fecha de fin de la ausencia","format":"date"},"start_time":{"type":"string","description":"Hora de inicio de la ausencia"},"end_time":{"type":"string","description":"Hora de fin de la ausencia"},"description":{"type":"string","description":"La descripción de la ausencia, si existe"},"correlation_id":{"type":"string","description":"identificador de correlación. Un id interno del usuario del API que posteriormente devolveremos."}}},"expense":{"type":"object","properties":{"_id":{"type":"string","description":"identificador único del gasto"},"employees_id":{"type":"string","description":"identificador único del empleado"},"type":{"type":"string","description":"categoría de gasto.","enum":["meal_expense","parking_expense","highway_expense","travel_expense","goods_expense","taxi_expense","fuel_expense","representation_expense","mileage_expense","allowance_expense"]},"status":{"type":"string","description":"estado del gasto","enum":["pending","done","canceled","rejected"]},"amount":{"type":"number","description":"importe"},"currency":{"type":"string","description":"divisa"},"date":{"type":"string","description":"Fecha del gasto","format":"date"},"approved_date":{"type":"string","description":"fecha en la que se aprobó el gasto","format":"date"},"project":{"type":"string","description":"código de proyecto o cuenta"},"paid_with_corporate_card":{"type":"boolean","description":"pagado con tarjeta corporativa o con caja de la empresa, no requiere reembolso."},"merchant":{"type":"string","description":"proveeedor"},"description":{"type":"string","description":"comentarios del gasto"},"mileage":{"type":"number","description":"number of kilometers for the expense. Only for expenses with type mileage_expense"}}},"hour":{"type":"object","properties":{"_id":{"type":"string","description":"identificador único de la imputación de horas"},"employees_id":{"type":"string","description":"identificador único del empleado"},"national_id":{"type":"string","description":"Documento de identidad del empleado"},"cost_center":{"type":"string","description":"Código interno que representa el centro de trabajo del empleado en el sistema del cliente."},"status":{"type":"string","description":"estado de la imputación de horas","enum":["pending","done","canceled","rejected"]},"start_date":{"type":"string","description":"Fecha de inicio de la imputación","format":"date"},"start_time":{"type":"string","description":"Hora de inicio de la imputación"},"end_date":{"type":"string","description":"Fecha de fin de la imputación","format":"date"},"end_time":{"type":"string","description":"Hora de fin de la imputación"},"total_hours":{"type":"number","description":"duración de la imputación en horas, con decimales que representan fracción."},"approved_date":{"type":"string","description":"fecha en la que se aprobó la imputación","format":"date"},"project":{"type":"string","description":"código de proyecto o cuenta"},"location_in":{"type":"string","description":"código de localización de entrada"},"location_out":{"type":"string","description":"código de localización de salida"},"description":{"type":"string","description":"comentarios"},"start_device":{"type":"string","description":"dispositivo de inicio de fichaje"},"stop_device":{"type":"string","description":"dispositivo de cierre de fichaje"}}},"hour_request":{"type":"object","properties":{"employees_id":{"type":"string","description":"Identificador único del empleado"},"start_date":{"type":"string","description":"Fecha de inicio de la imputación","format":"date"},"start_time":{"type":"string","description":"Hora de inicio de la imputación"},"end_date":{"type":"string","description":"Fecha de fin de la imputación","format":"date"},"end_time":{"type":"string","description":"Hora de fin de la imputación"},"location_in":{"type":"string","description":"código de localización de entrada"},"location_out":{"type":"string","description":"código de localización de salida"},"description":{"type":"string","description":"comentarios"}}},"clocking_request":{"type":"object","properties":{"employees_id":{"type":"string","description":"Identificador único del empleado","required":true},"date":{"type":"string","description":"Fecha y hora del fichaje","format":"date","required":true},"tz":{"type":"string","description":"Zona horaria desde donde se realiza el fichaje. Ej 'Europe/Madrid'","format":"código válido de zona horaria","required":true},"in":{"type":"boolean","description":"true si es fichaje de entrada, false si lo es de salida"},"online":{"type":"boolean","description":"true si es fichaje online y false si es offline"},"location":{"type":"object","description":"Coordenadas GPS desde donde se está realizando el fichaje","properties":{"lat":{"type":"number","description":"Campo latitud de la coordenada GPS. Ej 40.3658733"},"lon":{"type":"number","description":"Campo longitud de la coordenada GPS. Ej -3.6141819"}}},"device_id":{"type":"string","description":"código único del dispositivo de fichaje"},"correlation_id":{"type":"string","description":"Identificador único del evento"}},"required":["employees_id","date","tz","in"]},"clocking_response":{"type":"object","properties":{"result":{"type":"string","description":"Resultado del fichaje automático","enum":["clocking_allowed","clocking_not_allowed"]},"reason":{"type":"string","description":"Descripción del motivo en el caso de clocking_not_allowed"}}},"schedule_response":{"type":"object","description":"un objeto para cada empleado","properties":{"_id":{"type":"string","description":"id del empleado"},"days":{"type":"object","description":"cada día de la ventana de cálculo.","properties":{"YYYYMMDD":{"type":"object","description":"Cada clave de este objeto es una fecha en formato YYYYMMDD, por ejemplo, 20210123 para el 23/01/2021","properties":{"schedules":{"type":"array","items":{"type":"object","description":"horarios de ese día","properties":{"start":{"type":"string","description":"fecha y hora de inicio de horario","format":"datetime"},"end":{"type":"string","description":"fecha y hora de fin de horario","format":"datetime"}}}}}}}}}},"vacation":{"type":"object","properties":{"_id":{"type":"string","description":"identificador del empleado"},"pending_today":{"type":"number","description":"saldo de vacaciones a día de hoy (el que se usaría para una liquidación por ejemplo)."},"pending_eoy":{"type":"number","description":"saldo de vacaciones a fin de año."},"pending_eoc":{"type":"number","description":"saldo de vacaciones a fecha de fin de contrato. Solo aplica para contratos con fecha de fin (temporales y duración determinada)."}}},"shift":{"type":"object","properties":{"employees_id":{"type":"string","description":"identificador único del empleado"},"shifts":{"type":"array","description":"listado de turnos","items":{"type":"object","properties":{"_id":{"type":"string","description":"identificador del turno"},"start_date":{"type":"string","description":"fecha de inicio del turno. Si no se especifica fecha de fin, tambien corresponde a la fecha de fin del turno."},"end_date":{"type":"string","description":"fecha de fin del turno."},"start_time":{"type":"string","description":"Hora de inicio del turno"},"end_time":{"type":"string","description":"Hora de fin del turno"},"flex_start_date":{"type":"string","description":"fecha flexible de inicio del turno."},"flex_end_date":{"type":"string","description":"fecha flexible de fin del turno."},"flex_start_time":{"type":"string","description":"Hora flexible de inicio del turno"},"flex_end_time":{"type":"string","description":"Hora flexible de fin del turno"},"type":{"enum":["normal"],"description":"tipo de turno."},"availability":{"type":"boolean","description":"turno de disponibilidad, no genera horas planificadas"},"overwrite":{"type":"boolean","description":"debería reemplazar secuencias u horarios preexistentes"},"dont_work_freedays":{"type":"boolean","description":"no se trabaja en día libre"},"dont_work_festives":{"type":"boolean","description":"no se trabaja en festivo"},"omit_breaks":{"type":"boolean","description":"descontar descansos automáticamente (todavía en beta, consultar)"},"description":{"type":"string","description":"nombre del turno"},"color":{"type":"string","description":"codigo de color para el renderizado en el cuadrante"},"breaks":{"type":"array","description":"descansos opcionales del turno","items":{"$ref":"#/components/schemas/break"}},"location_ids":{"type":"array","description":"identificadores de los centros de trabajo del turno (ids de catálogo, cruzables con GET /companies -> parametrization.gps_locations)","items":{"type":"string"}},"position_id":{"type":"string","description":"identificador del puesto del turno (id de catálogo, cruzable con GET /companies -> parametrization.positions)"},"skills":{"type":"array","description":"identificadores de las habilidades requeridas por el turno (ids de catálogo, cruzables con GET /companies -> parametrization.skills)","items":{"type":"string"}},"project":{"type":"string","description":"código de proyecto asignado al turno (accountProject, cruzable con GET /companies)"}}}},"sequences":{"type":"array","description":"listado de secuencias de turnos","items":{"type":"object","properties":{"_id":{"type":"string","description":"identificador de secuencia"},"start_date":{"type":"string","description":"fecha de entrada en vigor de la secuencia"},"end_date":{"type":"string","description":"fecha de fin de la secuencia"},"name":{"type":"string","description":"nombre de la secuencia"},"availability":{"type":"boolean","description":"turno de disponibilidad, no genera horas planificadas"},"overwrite":{"type":"boolean","description":"debería reemplazar secuencias u horarios preexistentes"},"dont_work_freedays":{"type":"boolean","description":"no se trabaja en día libre"},"dont_work_festives":{"type":"boolean","description":"no se trabaja en festivo"},"omit_breaks":{"type":"boolean","description":"descontar descansos automáticamente"},"color":{"type":"string","description":"codigo de color para el renderizado en el cuadrante"},"location_ids":{"type":"array","description":"identificadores de los centros de trabajo de la secuencia; se aplican a todos los turnos que genera (ids de catálogo, cruzables con GET /companies -> parametrization.gps_locations)","items":{"type":"string"}},"position_id":{"type":"string","description":"identificador del puesto de la secuencia; se aplica a todos los turnos que genera (id de catálogo, cruzable con GET /companies -> parametrization.positions)"},"skills":{"type":"array","description":"identificadores de las habilidades requeridas por la secuencia; se aplican a todos los turnos que genera (ids de catálogo, cruzables con GET /companies -> parametrization.skills)","items":{"type":"string"}},"project":{"type":"string","description":"código de proyecto asignado a la secuencia; se aplica a todos los turnos que genera (accountProject, cruzable con GET /companies)"},"days":{"type":"array","description":"specificaciones diarias de la secuencia","items":{"type":"object","properties":{"workable":{"type":"boolean","description":"dia laborable."},"start_time":{"type":"string","description":"inicio del turno"},"end_time":{"type":"string","description":"fin del turno"},"flex_start_time":{"type":"string","description":"inicio del turno"},"flex_end_time":{"type":"string","description":"fin del turno"},"breaks":{"type":"array","description":"descansos","items":{"$ref":"#/components/schemas/break"}},"blockings":{"type":"object","description":"descriptores de bloqueo. Debe llevar o bien inicio y fin o bien duración.","properties":{"start_time":{"type":"string","description":"inicio del bloqueo."},"end_time":{"type":"string","description":"inicio del bloqueo."},"duration":{"type":"number","description":"duración en minutos"}}}}}}}}}}},"break":{"type":"object","properties":{"start_time":{"type":"string","description":"hora de inicio del descanso"},"end_time":{"type":"string","description":"hora de fin del descanso"},"duration":{"type":"number","description":"duración del descanso en minutos"}}},"shift_request":{"$ref":"#/components/schemas/shift"},"document_type":{"type":"string","description":"Tipo de documento.","enum":["expense_report","absence_report","regular_payroll","contract","work_order","daily_report","contract","cv","mod145","request_change_withholding_tax","prl_employee","temporal_contract","regular_contract","learning_contract","learning_contract_annex","training_contract","clauses_annex","extra_hours_annex","contract_modification","contract_extension","time_sheet_report","minor_fine","serious_fine","too_serious_fine","notification_fine","offense","extra_payroll","bonus_payroll","delay_payroll","incentive_payroll","vacation_summary","expense_note","fire_letter","fire_payroll","workday_novation","confidentiality_notice","payment_in_advance_req","up_to_date_payroll_payments_report","others"]},"document_request":{"type":"object","properties":{"dates":{"type":"object","description":"Fechas de inicio y fin para filtrar en la búqueda de documentos","properties":{"start":{"type":"string","description":"Fecha en formato timestamp (\"2021-01-01\") a partir de la cual se quiere consultar los documentos. Si el campo no viene informado no se tendrá en cuenta en el filtrado de documentos.","format":"date"},"end":{"type":"string","description":"Fecha en formato timestamp (\"2021-01-01\") hasta la cual se quiere consultar documentos. Si el campo no viene informado no se tendrá en cuenta en el filtrado de documentos","format":"date"}}},"nationalId":{"type":"array","description":"listado de documentos de identidad de los empleados sobre los que se quieren obtener sus documentos"},"type":{"type":"array","description":"Tipos de documentos que se quieren obtener en el listado. Por defecto serán todos los tipos disponibles.\n  - work_order: Orden de Trabajo\n  - daily_report: Parte Diario\n  - contract: Contrato\n  - mod145: Situación Familiar (mod. 145)\n  - request_change_withholding_tax: Solicitud cambio IRPF\n  - prl_employee: Prevención de Riesgos Laborales\n  - temporal_contract: Contrato Temporal,\n  - regular_contract: Contrato Indefinido\n  - learning_contract: Contrato Formación\n  - learning_contract_annex: Anexo Contrato Formación y Aprendizaje\n  - training_contract: Contrato en Prácticas\n  - clauses_annex: Cláusulas Anexas\n  - extra_hours_annex: Anexo Horas Complementarias\n  - contract_modification: Modificación de Contrato\n  - contract_extension: Prórroga de Contrato\n  - time_sheet_report: Parte de Horas\n  - minor_fine: Sanción leve\n  - serious_fine: Sanción grave\n  - too_serious_fine: Sanción muy grave\n  - notification_fine: Notificación\n  - offense: Falta\n  - regular_payroll: Nómina\n  - extra_payroll: Paga extra\n  - bonus_payroll: Variable/Bonus\n  - delay_payroll: Atraso convenio\n  - incentive_payroll: Incentivo\n  - vacation_summary: Resumen vacaciones\n  - expense_note: Nota de gastos\n  - fire_letter: Notificación baja/Carta despido\n  - fire_payroll: Finiquito/Liquidación\n  - workday_novation: Anexo Modificación de Horas\n  - confidentiality_notice: Politica de Confidencialidad\n  - payment_in_advance_req: Solicitud de anticipo\n  - up_to_date_payroll_payments_report: Justificante estar al corriente del pago nóminas\n  - others: Otros              \n  - expense_report: Justificante gasto \n  - absence_report: Justificante\n","items":{"$ref":"#/components/schemas/document_type"}}}},"document":{"type":"object","properties":{"name":{"type":"string","description":"Nombre del documento"},"type":{"type":"string","description":"Tipo de documento.","$ref":"#/components/schemas/document_type"},"size":{"type":"number","description":"Tamaño del fichero en Bytes."},"sha256":{"type":"string","description":"Código sha256 del documento"},"date":{"type":"string","description":"Fecha del documento","format":"date"},"employees_id":{"type":"string","description":"Identificador único del empleado"},"email":{"type":"string","description":"Email del empleado"},"correlation_id":{"type":"string","description":"Identificador de correlación. Un id interno del usuario del API que posteriormente devolveremos."},"nationalId":{"type":"string","description":"Documento de identidad del empleado"},"url":{"type":"string","description":"Url para la descarga del documento"}}},"employement_periods":{"type":"object","properties":{"companies_id":{"type":"string","description":"Identificador de la empresa donde está contratado en este periodo","required":true},"companies_correlation_id":{"type":"string","description":"Identificador interno de la empresa. Si este campo va informado no es necesario que se informe el companies_id"},"start":{"type":"string","description":"Fecha de inicio del periodo","format":"date","required":true},"end":{"type":"string","description":"Fecha de fin del periodo","format":"date"},"contract_code":{"type":"string","description":"Código de contrato"}}},"workplace_history":{"type":"object","properties":{"_id":{"type":"string","description":"Identificador único del centro de trabajo","required":true},"start":{"type":"string","description":"Fecha de inicio en el centro de trabajo","format":"date","required":true},"end":{"type":"string","description":"Fecha de fin en el centro de trabajo. Cuando aplique.","format":"date"}}},"sequences":{"type":"object","properties":{"start":{"type":"string","description":"Fecha de inicio","format":"date","required":true},"end":{"type":"string","description":"Fecha de fin. Cuando aplique.","format":"date"},"name":{"type":"string","description":"Nombre de la reducción de jornada"},"schedule_id":{"type":"string","description":"Identificador del horario sobre el cual se va a realizar el cálculo de jornada. Si no se informa, se establecerá sobre el horario por defecto aplicado al empleado"},"occupation_percentage":{"type":"number","description":"\\% de jornada a realizar","required":true},"tz":{"type":"string","description":"Zona horaria desde donde trabaja el empleado. Ej 'Europe/Madrid'. El valor por defecto es 'Europe/Madrid'","format":"código válido de zona horaria"}}},"Error":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":"código del error"},"message":{"type":"string","description":"descripción del error"}}}}}},"paths":{"/companies":{"get":{"tags":["Sociedades"],"description":"```GET /companies```\n\nProporciona un listado de todas las sociedades/empresas a las que se tiene acceso.\n","summary":"Listado de sociedades","operationId":"listCompanies","parameters":[{"name":"modified_since","in":"query","description":"Fecha de última modificación en formato timestamp, para actualizaciones incrementales. El cliente debe soportar que se devuelvan datos aunque no haya habido cambios.","required":false,"schema":{"type":"string"}},{"name":"columns","in":"query","description":"Lista de campos a proyectar (seleccionados) en la respuesta. Por ejemplo, el parámetro \"columns=_id&columns=correlation_id\" proyectará el documento y solo recuperará objetos con el siguiente contenido\n```\n{_id:\"someid\", correlation_id:\"some_correlation_id\"}\n```\n","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Listado de sociedades","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/company"}}}}},"400":{"description":"Request errónea. Ver códigos de error para más detalles","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/companies/{id}":{"get":{"tags":["Sociedades"],"description":"```GET /companies/{id}```\n\nDevuelve una sociedad por su identificador\n","summary":"Consultar sociedad por ID","operationId":"getCompanyById","parameters":[{"name":"id","in":"path","description":"ID de la sociedad","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"sociedad","content":{"application/json":{"schema":{"$ref":"#/components/schemas/company"}}}},"400":{"description":"Request errónea. Ver códigos de error para más detalles","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/{company_id}/workplaces":{"post":{"tags":["Sociedades"],"description":"```POST /{company_id}/workplaces```\n\nAñade un centro de trabajo a la sociedad\n","operationId":"createWorkplace","summary":"Crear centro de trabajo","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/new_workplace"}}}},"parameters":[{"name":"company_id","in":"path","description":"ID de la sociedad","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"La sociedad actualizada con el nuevo centro de trabajo","content":{"application/json":{"schema":{"$ref":"#/components/schemas/company"}}}},"400":{"description":"Request errónea. Ver códigos de error para más detalles","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/{company_id}/workplaces/{workplace_id}":{"post":{"tags":["Sociedades"],"description":"```POST /{company_id}/workplaces/{workplace_id}```\n\nActualiza un centro de trabajo de la sociedad\n","operationId":"updateWorkplace","summary":"Actualizar centro de trabajo","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/update_workplace"}}}},"parameters":[{"name":"company_id","in":"path","description":"ID de la sociedad","required":true,"schema":{"type":"string"}},{"name":"workplace_id","in":"path","description":"ID del centro de trabajo","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"La sociedad actualizada con los cambios en el centro de trabajo","content":{"application/json":{"schema":{"$ref":"#/components/schemas/company"}}}},"400":{"description":"Request errónea. Ver códigos de error para más detalles","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/{company_id}/teams":{"post":{"tags":["Sociedades"],"description":"```POST /{company_id}/teams```\n\nAñade un equipo a la sociedad\n","operationId":"createTeam","summary":"Crear equipo","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/new_team"}}}},"parameters":[{"name":"company_id","in":"path","description":"ID de la sociedad","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"La sociedad actualizada con el nuevo equipo","content":{"application/json":{"schema":{"$ref":"#/components/schemas/company"}}}},"400":{"description":"Request errónea. Ver códigos de error para más detalles","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/{company_id}/teams/{team_id}":{"post":{"tags":["Sociedades"],"description":"```POST /{company_id}/teams/{team_id}```\n\nActualiza un equipo de la sociedad\n","operationId":"updateTeam","summary":"Actualizar equipo","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/update_team"}}}},"parameters":[{"name":"company_id","in":"path","description":"ID de la sociedad","required":true,"schema":{"type":"string"}},{"name":"team_id","in":"path","description":"ID del equipo","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"La sociedad actualizada con los cambios en el equipo","content":{"application/json":{"schema":{"$ref":"#/components/schemas/company"}}}},"400":{"description":"Request errónea. Ver códigos de error para más detalles","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/{company_id}/projects":{"post":{"tags":["Sociedades"],"description":"```POST /{company_id}/projects```\n\nAñade un proyecto a la sociedad\n","operationId":"createProject","summary":"Crear proyecto","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/new_project"}}}},"parameters":[{"name":"company_id","in":"path","description":"ID de la sociedad","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"La sociedad actualizada con el nuevo proyecto","content":{"application/json":{"schema":{"$ref":"#/components/schemas/company"}}}},"400":{"description":"Request errónea. Ver códigos de error para más detalles","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/{company_id}/projects/{project_id}":{"post":{"tags":["Sociedades"],"description":"```POST /{company_id}/projects/{project_id}```\n\nActualiza un proyecto de la sociedad. Es posible actualizar todos los campos a excepción del accountProject\n","operationId":"updateProject","summary":"Actualizar proyecto","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/update_project"}}}},"parameters":[{"name":"company_id","in":"path","description":"ID de la sociedad","required":true,"schema":{"type":"string"}},{"name":"project_id","in":"path","description":"ID del proyecto","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"La sociedad actualizada con los cambios en el proyecto","content":{"application/json":{"schema":{"$ref":"#/components/schemas/company"}}}},"400":{"description":"Request errónea. Ver códigos de error para más detalles","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/{company_id}/locations":{"post":{"tags":["Sociedades"],"description":"```POST /{company_id}/locations```\n\nAñade una localización de la sociedad\n","operationId":"createLocation","summary":"Crear localización","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/new_location"}}}},"parameters":[{"name":"company_id","in":"path","description":"ID de la sociedad","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"La sociedad actualizada con la nueva localización","content":{"application/json":{"schema":{"$ref":"#/components/schemas/company"}}}},"400":{"description":"Request errónea. Ver códigos de error para más detalles","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/{company_id}/locations/":{"post":{"tags":["Sociedades"],"description":"```POST /{company_id}/locations/{location_id}```\n\nActualiza una localización de la sociedad\n","operationId":"updateLocation","summary":"Actualizar localizacion","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/update_location"}}}},"parameters":[{"name":"company_id","in":"path","description":"ID de la sociedad","required":true,"schema":{"type":"string"}},{"name":"location_id","in":"path","description":"ID de la localización","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"La sociedad actualizada con los cambios en la localización","content":{"application/json":{"schema":{"$ref":"#/components/schemas/company"}}}},"400":{"description":"Request errónea. Ver códigos de error para más detalles","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/{company_id}/employees":{"get":{"tags":["Empleados"],"description":"```GET /{company_id}/employees```\n\nProporciona un listado de todos los empleados de una sociedad\n","summary":"Listado de empleados","operationId":"getCompanyEmployees","parameters":[{"name":"company_id","in":"path","description":"ID de la sociedad","required":true,"schema":{"type":"string"}},{"name":"modified_since","in":"query","description":"Fecha de última modificación en formato timestamp, para actualizaciones incrementales. El cliente debe soportar que se devuelvan datos aunque no haya habido cambios.","required":false,"schema":{"type":"string"}},{"name":"columns","in":"query","description":"Lista de campos a proyectar (seleccionados) en la respuesta. Por ejemplo, el parámetro \"columns=_id&columns=correlation_id\" proyectará el documento y solo recuperará objetos con el siguiente contenido\n```\n{_id:\"someid\", correlation_id:\"some_correlation_id\"}\n```\n","required":false,"schema":{"type":"string"}},{"name":"include","in":"query","description":"Incluye campos opcionales de \"parametrización\" (historial de asignaciones) que por defecto NO se devuelven. Lista separada por comas, p. ej. `include=locations,positions,skills,projects` (también se acepta clave repetida: `include=locations&include=positions`).\n\nCada campo es un array con el historial de asignaciones, ordenado de más antiguo a vigente. Cada entrada tiene la forma:\n```\n{\n  \"_id\": \"<id de la entrada>\",\n  \"until\": \"YYYY-MM-DD\",\n  \"values\": [\"<id de catálogo>\"],\n  \"priority_id\": [\"<id de catálogo>\"]\n}\n```\n- `until`: último día de validez de la asignación. `null` indica la asignación vigente.\n- `values`: ids del catálogo de la empresa. Se resuelven cruzando con `GET /{company_id}/companies`:\n    - `locations` → `parametrization.gps_locations[]._id`\n    - `positions` → `parametrization.positions[]._id`\n    - `skills` → `parametrization.skills[].values[]._id`\n    - `projects` → código `accountProject` (string), **NO** `_id`; se cruza por el campo `code` del proyecto.\n- `priority_id`: subconjunto de `values` marcado como prioritario. Solo en `locations` y `positions`.\n","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"listado de empleados","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/employee"}}}}},"400":{"description":"Request errónea. Ver códigos de error para más detalles","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"post":{"tags":["Empleados"],"description":"```POST /{company_id}/employees```\n\nContrata un empleado en TramitApp\n","operationId":"createEmployee","summary":"Contratar un empleado","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/new_employee"}}}},"parameters":[{"name":"company_id","in":"path","description":"ID de la sociedad","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"El empleado contratado con los datos adicionales (incluyendo el _id)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/employee"}}}},"400":{"description":"Request errónea. Ver códigos de error para más detalles","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/{company_id}/employees/{id}":{"get":{"tags":["Empleados"],"description":"```GET /{company_id}/employees/{id}```\n\nDevuelve un empleado por su identificador\n","operationId":"getEmployeeById","summary":"Consultar empleado por ID","parameters":[{"name":"company_id","in":"path","description":"ID de la sociedad","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"ID del empleado","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Empleado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/employee"}}}},"400":{"description":"Request errónea. Ver códigos de error para más detalles","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"put":{"tags":["Empleados"],"description":"```PUT /{company_id}/employees/{id}```\n\nActualiza un empleado en TramitApp\n","summary":"Actualizar empleado por ID","operationId":"updateEmployeeById","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/update_employee"}}}},"parameters":[{"name":"company_id","in":"path","description":"ID de la sociedad","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"ID del empleado","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"El empleado actualizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/employee"}}}},"400":{"description":"Request errónea. Ver códigos de error para más detalles","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/{company_id}/employees/{id}/fire":{"post":{"tags":["Empleados"],"description":"```POST /{company_id}/employees/{id}/fire```\n\nGenera una baja de un empleado en TramitApp\n","operationId":"fireEmployeeById","summary":"Dar de baja un empleado","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/fire_employee"}}}},"parameters":[{"name":"company_id","in":"path","description":"ID de la sociedad","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"ID del empleado","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"El empleado actualizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/employee"}}}},"400":{"description":"Request errónea. Ver códigos de error para más detalles","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/{company_id}/employees/{id}/renew":{"post":{"tags":["Empleados"],"description":"```POST /{company_id}/employees/{id}/renew```\n\nGenera una renovación de contrato de un empleado en TramitApp\n","operationId":"renewEmployeeById","summary":"Renovar contrato","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/renew_employee"}}}},"parameters":[{"name":"company_id","in":"path","description":"ID de la sociedad","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"ID del empleado","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"El empleado actualizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/employee"}}}},"400":{"description":"Request errónea. Ver códigos de error para más detalles","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/{company_id}/absences":{"get":{"tags":["Trámites"],"description":"```GET /{company_id}/absences```\n\nProporciona un listado de las ausencias de los empleados de una sociedad\n","summary":"Listado de ausencias","operationId":"getCompanyAbsences","parameters":[{"name":"company_id","in":"path","description":"ID de la sociedad","required":true,"schema":{"type":"string"}},{"name":"start","in":"query","description":"Día de inicio, en formato YYYY-MM-DD (por ejemplo 2018-01-01)","required":true,"schema":{"type":"string"}},{"name":"end","in":"query","description":"Día de fin, en formato YYYY-MM-DD (por ejemplo 2018-01-01)","required":true,"schema":{"type":"string"}},{"name":"modified_since","in":"query","description":"Fecha de última modificación en formato timestamp, para actualizaciones incrementales. El cliente debe soportar que se devuelvan datos aunque no haya habido cambios.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"listado de ausencias","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/absence"}}}}},"400":{"description":"Request errónea. Ver códigos de error para más detalles","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"post":{"tags":["Trámites"],"description":"```POST /{company_id}/absences```\n\nPermite añadir ausencias de los empleados de una sociedad\n","summary":"Añadir ausencias","operationId":"postCompanyAbsences","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/absence_request"}}}},"parameters":[{"name":"company_id","in":"path","description":"ID de la sociedad","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"listado de ausencias","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/absence"}}}}},"400":{"description":"Request errónea. Ver códigos de error para más detalles","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/{company_id}/absences/{id}/cancel":{"post":{"tags":["Trámites"],"description":"```POST /{company_id}/absences/{id}/cancel```\n\nCancela una ausencia del empleado en TramitApp\n","operationId":"cancelAbsenceById","summary":"Cancelar Ausencia","parameters":[{"name":"company_id","in":"path","description":"ID de la sociedad","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"ID de la ausencia","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"La ausencia cancelada","content":{"application/json":{"schema":{"$ref":"#/components/schemas/absence"}}}},"400":{"description":"Request errónea. Ver códigos de error para más detalles","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/{company_id}/expenses":{"get":{"tags":["Trámites"],"description":"```GET /{company_id}/expenses```\n\nProporciona un listado de las gastos de los empleados de una sociedad\n","operationId":"getCompanyExpenses","summary":"Listado de gastos","parameters":[{"name":"company_id","in":"path","description":"ID de la sociedad","required":true,"schema":{"type":"string"}},{"name":"start","in":"query","description":"Fecha de inicio, en formato YYYY-MM-DD (por ejemplo 2018-01-31)","required":true,"schema":{"type":"string"}},{"name":"end","in":"query","description":"Fecha de fin, en formato YYYY-MM (por ejemplo 2018-02-04)","required":true,"schema":{"type":"string"}},{"name":"modified_since","in":"query","description":"Fecha de última modificación en formato timestamp, para actualizaciones incrementales. El cliente debe soportar que se devuelvan datos aunque no haya habido cambios.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"listado de gastos","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/expense"}}}}},"400":{"description":"Request errónea. Ver códigos de error para más detalles","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/{company_id}/clocking":{"post":{"tags":["Trámites"],"description":"```POST /{company_id}/clocking```\n\nPermite añadir fichajes de los empleados de una sociedad\n","summary":"Añadir fichaje auto","operationId":"postCompanyClocking","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/clocking_request"}}}},"parameters":[{"name":"company_id","in":"path","description":"ID de la sociedad","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Resultado del fichaje","content":{"application/json":{"schema":{"type":"object","properties":{"processed":{"type":"number","description":"Número de eventos procesados"}}}}}},"400":{"description":"Request errónea. Ver códigos de error para más detalles","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/{company_id}/hours":{"get":{"tags":["Trámites"],"description":"```GET /{company_id}/hours```\n\nProporciona un listado de las horas de los empleados de una sociedad\n","operationId":"getCompanyHours","summary":"Listado de horas","parameters":[{"name":"company_id","in":"path","description":"ID de la sociedad","required":true,"schema":{"type":"string"}},{"name":"start","in":"query","description":"Mes de inicio, en formato YYYY-MM (por ejemplo 2018-01)","required":true,"schema":{"type":"string"}},{"name":"end","in":"query","description":"Mes de fin, en formato YYYY-MM (por ejemplo 2018-01)","required":true,"schema":{"type":"string"}},{"name":"modified_since","in":"query","description":"Fecha de última modificación en formato timestamp, para actualizaciones incrementales. El cliente debe soportar que se devuelvan datos aunque no haya habido cambios.","required":false,"schema":{"type":"string"}},{"name":"cost_center","in":"query","description":"Código interno que representa el centro de trabajo en el sistema del cliente. Este valor debe estar previamente dado de alta como correlation_id en algún centro de trabajo de la sociedad. Permite filtrar los fichajes por uno o varios centros de trabajo.","required":false,"schema":{"oneOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]}}],"responses":{"200":{"description":"listado de horas","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/hour"}}}}},"400":{"description":"Request errónea. Ver códigos de error para más detalles","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"post":{"tags":["Trámites"],"description":"```POST /{company_id}/hours```\n\nPermite añadir fichajes de los empleados de una sociedad\n","summary":"Añadir fichajes manuales","operationId":"postCompanyHours","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/hour_request"}}}},"parameters":[{"name":"company_id","in":"path","description":"ID de la sociedad","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"listado de fichajes creados","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/hour"}}}}},"400":{"description":"Request errónea. Ver códigos de error para más detalles","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/{company_id}/hours/{id}/cancel":{"post":{"tags":["Trámites"],"description":"```POST /{company_id}/hours/{id}/cancel```\n\nCancela un fichaje del empleado en TramitApp\n","operationId":"cancelHourById","summary":"Cancelar fichaje","parameters":[{"name":"company_id","in":"path","description":"ID de la sociedad","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"ID del fichaje","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"El fichaje cancelado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/hour"}}}},"400":{"description":"Request errónea. Ver códigos de error para más detalles","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/{company_id}/vacations":{"get":{"tags":["Saldo de Vacaciones"],"description":"```GET /{company_id}/vacations```\n\nProporciona un listado de los saldos de vacaciones de los empleados de una sociedad\n","operationId":"getCompanyVacations","summary":"Saldo de vacaciones","parameters":[{"name":"company_id","in":"path","description":"ID de la sociedad","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"listado de saldos de vacaciones","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/vacation"}}}}},"400":{"description":"Request errónea. Ver códigos de error para más detalles","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/{company_id}/shifts":{"get":{"tags":["Turnos y horarios"],"description":"```GET /{company_id}/shifts```\n\nProporciona un listado de jornadas y turnos de los empleados de una sociedad\n","operationId":"getCompanyShifts","summary":"Planificación de jornadas y turnos de empleados","parameters":[{"name":"company_id","in":"path","description":"ID de la sociedad","required":true,"schema":{"type":"string"}},{"name":"start","in":"query","description":"Mes de inicio, en formato YYYY-MM (por ejemplo 2018-01)","required":true,"schema":{"type":"string"}},{"name":"end","in":"query","description":"Mes de fin, en formato YYYY-MM (por ejemplo 2018-01)","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"listado de turnos","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/shift"}}}}},"400":{"description":"Request errónea. Ver códigos de error para más detalles","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"post":{"tags":["Turnos y horarios"],"description":"```POST /{company_id}/shifts```\n\nPermite añadir listado de jornadas y turnos a los empleados de una sociedad\n","summary":"Añadir listado de jornadas y turnos","operationId":"postCompanyShifts","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/shift_request"}}}},"parameters":[{"name":"company_id","in":"path","description":"ID de la sociedad","required":true,"schema":{"type":"string"}},{"name":"start","in":"query","description":"Mes de inicio, en formato YYYY-MM (por ejemplo 2018-01)","required":true,"schema":{"type":"string"}},{"name":"end","in":"query","description":"Mes de fin, en formato YYYY-MM (por ejemplo 2018-01)","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"listado de jornadas y turnos creados","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/shift"}}}}},"400":{"description":"Request errónea. Ver códigos de error para más detalles","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/{company_id}/schedules":{"get":{"tags":["Turnos y horarios"],"description":"```GET /{company_id}/schedules```\n\nProporciona un listado del calendario de cada uno de los empleados de la sociedad entre las fechas seleccionadas. El máximo son 31 días.\n","operationId":"getCompanySchedules","summary":"Calendario del empleado","parameters":[{"name":"company_id","in":"path","description":"ID de la sociedad","required":true,"schema":{"type":"string"}},{"name":"start","in":"query","description":"Fecha de inicio en formato timestamp (\"2021-01-01\" o \"2021-01-01T00:00:00Z\"). Se inicializa por defecto a \"hoy\".","required":false,"schema":{"type":"string"}},{"name":"end","in":"query","description":"Fecha de fin en formato timestamp (\"2021-01-01\" o \"2021-01-01T00:00:00Z\"). Se inicializa por defecto a \"hoy+6 días\"","required":false,"schema":{"type":"string"}},{"name":"modified_since","in":"query","description":"Fecha de última modificación en formato timestamp, para actualizaciones incrementales. El cliente debe soportar que se devuelvan datos aunque no haya habido cambios.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"listado de calendarios","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/schedule_response"}}}}},"400":{"description":"Request errónea. Ver códigos de error para más detalles","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/{company_id}/documents":{"post":{"tags":["Documentos"],"description":"```POST /{company_id}/documents```\n\nPermite consultar los documentos de los empleados. En el body del post viajaran los campos de filtrado para el listado de documentos. \nEn el caso de no existir ningún documento de empleados que cumpla los criterios de filtrado entonces se devolverá [] \n","summary":"Consulta de documentos","operationId":"getDocuments","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/document_request"}}}},"parameters":[{"name":"company_id","in":"path","description":"ID de la sociedad","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"listado de documentos de los empleados solicitados","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/document"}}}}},"400":{"description":"Request errónea. Ver códigos de error para más detalles","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/webhooks/employees":{"post":{"tags":["Empleados"],"description":"```POST {your_url} ```\n\nMediante tecnología webhook, Tramitapp te puede enviar notificaciones sobre los cambios en TramitApp\nde los datos de los empleados: altas, bajas, renovaciones de contrato, etc.\n","summary":"Notificaciones sobre empleados","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/employee_event"}}}},"responses":{"200":{"description":"Es obligatorio responder con 200 OK, en caso contrario el evento se encolará. El resto de la respuesta se ignorará."}}}},"/webhooks/absences":{"post":{"tags":["Trámites"],"description":"```POST {your_url} ```\n\nMediante tecnología webhook, Tramitapp te puede enviar notificaciones cuando los empleados\nreporten sus ausencias.\n","summary":"Notificaciones sobre ausencias","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/absences_event"}}}},"responses":{"200":{"description":"Es obligatorio responder con 200 OK, en caso contrario el evento se encolará. El resto de la respuesta se ignorará."}}}},"/webhooks/hours":{"post":{"tags":["Trámites"],"description":"```POST {your_url} ```\n\nMediante tecnología webhook, Tramitapp te puede enviar notificaciones cuando los empleados\nreporten sus horas de trabajo.\n","summary":"Notificaciones sobre horas de trabajo","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/hours_event"}}}},"responses":{"200":{"description":"Es obligatorio responder con 200 OK, en caso contrario el evento se encolará. El resto de la respuesta se ignorará."}}}},"/webhooks/expenses":{"post":{"tags":["Trámites"],"description":"```POST {your_url} ```\n\nMediante tecnología webhook, Tramitapp te puede enviar notificaciones cuando los empleados\nreporten sus gastos, dietas y kilometrajes.\n","summary":"Notificaciones sobre gastos, dietas y kilometrajes","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/expenses_event"}}}},"responses":{"200":{"description":"Es obligatorio responder con 200 OK, en caso contrario el evento se encolará. El resto de la respuesta se ignorará."}}}}}}